NODE_ENV='development'
COLORIZE_CONSOLE='true'
CORS_ORIGINS='http://localhost:3001' # Or comma separated values, like: http://localhost:3001,http://localhost:3002
APPLICATION_NAME='app'
BACKEND_PORT='3000'
REDIS_HOST='localhost'
REDIS_PORT='6379'
# REDIS_USERNAME='default'
# REDIS_PASSWORD='change-me'
# REDIS_DB='0'
